<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Liste de transferts – Pay My Buddy</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Vous êtes connecté sur le compte : <b>[[${#request.userPrincipal.name}]]</b>
            </p>
            <input type="submit" value="Déconnexion" />
        </form>
    </div>
    <div>
        <h2>Solde votre compte : <b>[[${balance}]] €</b></h2>
    </div>
    <div>
        <h1>Liste de transferts</h1>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Relation</th>
                <th>Description</th>
                <th>Montant</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transfer: ${listTransfers}">
                <td th:text="${transfer.date}">Date</td>
                <td th:text="${transfer.relation}">Relation</td>
                <td th:text="${transfer.description}">Description</td>
                <td th:text="${transfer.amount}">Montant</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
