<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Liste de transferts – Pay My Buddy</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container text-center">
            <div style="margin: 20px;">
                <img th:src="@{/images/logo.png}" alt="logo" style="max-height: 200px; filter: drop-shadow(0 0 0.75rem #5cb85c);" />
            </div>
            <div style="margin: 20px;">
                <form th:action="@{/logout}" method="post">
                    <span style="margin-right: 20px;">
                        Vous êtes connecté sur le compte : <b>[[${#request.userPrincipal.name}]]</b>
                    </span>
                    <input type="submit" class="btn btn-primary" style="background-color: gray; border-color: gray;" value="Se déconnecter" />
                </form>
            </div>
            <div style="margin: 20px;">
                <h2>Solde votre compte : <b>[[${balance}]] €</b></h2>
            </div>

            <div style="display: flex;align-items: center;">
                <div>
                    <form th:action="@{/process_balance_back}" th:object="${requirement}"
                          method="post" style="max-width: 600px; margin: 0 auto;">
                        <div class="m-3">
                            <div class="form-group row">
                                <label class="col-4 col-form-label"><span>Retirer sur mon compte bancaire : </span> </label>
                                <div class="col-8">
                                    <input type="hidden" th:field="*{userId}" class="form-control" required />
                                    <input type="text"  placeholder="Entrez le montant..." th:field="*{amount}" class="form-control" required />
                                </div>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary" style="width: 100%;">Retirer mon solde</button>
                            </div>
                        </div>
                    </form>

                    <form th:action="@{/process_topup}" th:object="${requirement}"
                          method="post" style="max-width: 600px; margin: 0 auto;">
                        <div class="m-3">
                            <div class="form-group row">
                                <label class="col-4 col-form-label"><span>Recharger depuis le compte bancaire : </span> </label>
                                <div class="col-8">
                                    <input type="hidden" th:field="*{userId}" class="form-control" required />
                                    <input type="text"  placeholder="Entrez le montant..." th:field="*{amount}" class="form-control" required />
                                </div>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary" style="background-color: #5cb85c; border-color: #5cb85c;width: 100%;">Recharger mon compte</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div style="border-left:1px solid gray;height: 300px;"></div>

                <div>
                    <form th:action="@{/process_friendship}" th:object="${requirement}"
                          method="post" style="max-width: 600px; margin: 0 auto;">
                        <div class="m-3">
                            <div class="form-group row">
                                <label class="col-4 col-form-label"><span>Si le courriel est déjà existant : </span> </label>
                                <div class="col-8">
                                    <input type="hidden" th:field="*{userId}" class="form-control" required />
                                    <input type="text" placeholder="Entrez le courriel..." th:field="*{recipient}" class="form-control" required />
                                </div>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary" style="width: 100%;" >Ajouter un ami</button>
                            </div>
                        </div>
                    </form>

                    <form th:action="@{/process_transfer}" th:object="${requirement}" method="post">
                        <div class="m-3">
                            <div class="form-group row">
                                <label class="col-4 col-form-label"><span>Transférer une somme à un ami :</span> </label>
                                <div class="col-8">
                                    <input type="hidden" th:field="*{userId}" class="form-control" required />
                                    <select required="required" class="form-control form-control-lg" th:field="*{recipient}">
                                        <option value="">Choisissez un ami</option>
                                        <option th:each="friend : ${friendsList}"
                                                th:value="${friend}"
                                                th:utext="${friend}"/>
                                    </select>
                                    <input style="margin-top: 10px;" type="text" placeholder="Entrez le montant..." th:field="*{amount}" class="form-control" required />
                                    <input style="margin-top: 10px;" type="text" placeholder="Entrez une description..." th:field="*{description}" class="form-control" required />
                                </div>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-primary" style="background-color: #5cb85c; border-color: #5cb85c;width: 100%;" value="Transférer la somme" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div style="margin: 20px;">
                <h1>Historique du compte</h1>
            </div>

            <div style="margin-left: 40px;margin-right: 40px;">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th style="background-color: #5cb85c">Date</th>
                        <th style="background-color: #5cb85c">Relation</th>
                        <th style="background-color: #5cb85c">Description</th>
                        <th style="background-color: #5cb85c">Montant</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="transfer: ${transfersList}">
                        <td th:text="${transfer.date}">Date</td>
                        <td th:text="${transfer.relation}">Relation</td>
                        <td th:text="${transfer.description}">Description</td>
                        <td th:text="${transfer.amount}">Montant</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
